fastapi>=0.104.0
uvicorn[standard]>=0.24.0
pydantic>=2.5.0
python-multipart>=0.0.6
langchain-openai
langchain
langchain-community
langchain-experimental
requests
duckduckgo-search
langgraph
langgraph-checkpoint
langgraph-checkpoint-sqlite
langchain-ollama
langchain-core
langgraph-sdk
langgraph-prebuilt
pydantic-settings
watchfilesurllib3<2.0
